# Binaries for programs and plugins
tiny_x86_emu
*.exe
*.dll
*.so
*.dylib
*.bin
*.o

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
vendor/
tags.lock

# other
*.swp
